
<div class="container">
  <div class="row fullscreen align-items-center justify-content-between">
    <div class="col-lg-6 col-md-6 left">
      <h6>This is me</h6>
      <h1>Martí Cardoso</h1>
      <p>
        Recent master graduate skilled with a strong foundation in data science, machine learning, statistics and
        computing. Hard-worker, passionate, highly-motivated developer with 4 years of experience as a software
        engineer. Seeking to leverage solid skills in analysis, collaboration and development as a data scientist.
      </p>
      <div class="row social-net-buttons">
        <div class="col-6">
          <a href="https://www.linkedin.com/in/marticardosoisabe/"><i class="fa fa-linkedin-square fa-5x"></i></a>
        </div>
        <div class="col-6">
          <a href="https://github.com/marticardoso"><i class="fa fa-github-square fa-5x"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 right d-flex align-self-end">
      <img class="img-fluid" src="assets/profile.png" alt="">
    </div>
  </div>
</div>